.content {
    position: relative;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    font-size: 24px;
    line-height: 1.2;
    color: #cfd8dc;
    background: #13191b;
    box-sizing: border-box;
}

.navbar{
    background: #263238;
}

.navbar a{
    color: #cfd8dc;
}

li{
    margin-right: 2em;
}

a {
    color: #7495a1;
    text-decoration: none;
    transition: color .3s ease;
}

.nav-link{
    color: #7495a1;

}

.nav-link:hover {
    color: white; 
}

/*Imagem Links*/

.links-externos__item {
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.links-externos__link {
    display: block;
    width: calc(100% - 24px);
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: opacity 0.3s;
}

.links-externos__poster {
    width: 100%;
    height: auto;
    border-radius: 8px;
    filter: grayscale(100%);
    transition: filter 0.3s;
    pointer-events: none;
}

.links-externos__title {
    text-align: center;
    margin-bottom: 20px;
}

.links-externos__link:hover {
    pointer-events: auto;
}

.links-externos__item:hover .links-externos__link {
    opacity: 0;
}

.links-externos__item:hover .links-externos__poster {
    filter: grayscale(0%);
}

/*Teste*/

#logo {
    cursor: pointer;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25%, 75% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
}

.shake-animation {
    animation: shake 0.8s;
}